{% extends 'base.html' %}
{% block content %}
            <section>
                <header class="container_12 clearfix">
                    <div class="grid_12">
                        <h1>User</h1>
                    </div>
                </header>
                <section class="container_12 clearfix">
                                
                    <section class="portlet grid_12 leading">
                        <header>
                            <h2>Header styles</h2>
                        </header>
                        <section>
                            <h1>Header 1</h1>
                            <h2>Header 2</h2>
                            <h3>Header 3</h3>
                            <h4>Header 4</h4>
                            <h5>Header 5</h5>
                            <h6>Header 6</h6>
                        </section>
                    </section>
                    
                    <div class="clear"></div>
                </section>
{% endblock %}