{% extends 'base.html' %}

{% block content %}
   <section id="content">
		
		
		
			<div class="g12">
			<h1>List Of Registered Server</h1>
			
			<table class="datatable">
				<thead>

					<tr>
						<th>VM Name</th>
						<th>Amount of Memory</th>
                                                <th>Context Number</th>
						<th>IP Address</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
                                    {% for vps in list_vps.iteritems() %}
					<tr class="odd gradeX">
						<td>{{ vps[1]['nama'] }}</td>
						<td>{{ vps[1]['memory'] }}</td>
						<td>{{ vps[0] }}</td>
                                                <td>{{ vps[1]['ip'] }}</td>
						<td class="center">{{ vps[1]['status'] }}</td>
						<td>
                                                    {% if vps[1]['status'] == 'Sleep' %}
                                                    <a title="i_eject" class="btn i_eject"></a></a>
                                                    <a title="i_play" class="btn i_play"></a>
                                                    {% endif %}
                                                </td>
                                        </tr>
                                    {% endfor %}
					<tfoot>

					<tr>
						<th>VM Name</th>
						<th>Amount of Memory</th>
                                                <th>Context Number</th>
						<th>IP Address</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</tfoot>
			</table>
		</div>

			
		</section><!-- end div #content -->
{% endblock %}