{% extends 'base.html' %}

{% block content %}
   <section id="content">
		
		
		
			<div class="g12">
			<h1>List Of Registered Server</h1>
			
			<table class="datatable">
				<thead>

					<tr>
						<th>VM Name</th>
						<th>Amount of Memory</th>
                                                <th>Context Number</th>
						<th>IP Address</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
                                    {% for vps in list_vps %}
					<tr class="odd gradeX">
						<td>{{ vps.nama }}</td>
						<td>{{ vps.memory }}</td>
						<td>{{ vps.context }}</td>
                                                <td>{{ vps.ip }}</td>
						<td>{{ vps.status }}</td>
						<td class="center">X</td>
                                        </tr>
                                    {% endfor %}
					<tfoot>

					<tr>
						<th>VM Name</th>
						<th>Amount of Memory</th>
                                                <th>Context Number</th>
						<th>IP Address</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</tfoot>
			</table>
		</div>

			
		</section><!-- end div #content -->
{% endblock %}