<footer class="container_12 clearfix">
                    <div class="grid_12">
                        Copyright &copy; 2011.{{ nguk }} <a target="_blank" href="http://themeforest.net/user/vivantdesigns?ref=vivantdesigns">VivantDesigns</a>
                    </div>
                </footer>
            </section>
            <!-- Main Section End -->
        </section>
    </div>
    
    <!-- MAIN JAVASCRIPTS -->
    <script src="/public/js/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/public/js/jquery.min.js'>\x3C/script>")</script>
    <script type="text/javascript" src="/public/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.uniform.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/PIE.js"></script>
    <script type="text/javascript" src="js/ie.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/public/js/global.js"></script>
    <!-- MAIN JAVASCRIPTS END -->

    <!-- LOADING SCRIPT -->
    <script>
    $(window).load(function(){
        $("#loading").fadeOut(function(){
            $(this).remove();
            $('body').removeAttr('style');
        });
    });
    </script>
    <!-- LOADING SCRIPT -->
    
    <!-- jQplot SETUP -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/jqplot/excanvas.js"></script>
    <![endif]-->
  
    <script>
    $(function() {
        var root = $("#wizard").scrollable();
        // some variables that we need
        var api = root.scrollable();
        // validation logic is done inside the onBeforeSeek callback
        api.onBeforeSeek(function(event, i) {
        // we are going 1 step backwards so no need for validation
            if (api.getIndex() < i) {
            // 1. get current page
            var page = root.find(".page").eq(api.getIndex()),
            // 2. .. and all required fields inside the page
            inputs = page.find("[required]").removeClass("error"),
            // 3. .. which are empty
            empty = inputs.filter(function() {
            return $(this).val().replace(/\s*/g, '') == '';
            });
            // if there are empty fields, then
                if (empty.length) {
                // add a CSS class name "error" for empty & required fields
                    empty.addClass("error");
                // cancel seeking of the scrollable by returning false
                return false;
                }
            }
        // update status bar
        $("#status li").removeClass("active").eq(i).addClass("active");
        });
        // if tab is pressed on the next button seek to next page
        root.find("button.next").keydown(function(e) {
        if (e.keyCode == 9) {
            // seeks to next tab by executing our validation routine
            api.next();
            e.preventDefault();
        }
        });
    });
</script>
    <!-- jQplot SETUP END -->
</body>

</html>